/* #region Common */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #fff;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

p {
    margin: 0 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    border: none;
}

.logo-accent {
    color: #4D5AE5;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}
/* #endregion Common */

/* #region Header */
.page-header {
    border-bottom: 1px solid #E7E9FC;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-nav {
    display: flex;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.nav-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    margin-left: 76px;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active::after {
    content: '';
    display: block;
    position: relative;
    border-radius: 2px;
    width: 48px;
    height: 4px;
    background: #404BBF;
    bottom: -1px;
}

.nav-link:hover, .nav-link:focus {
    color: #404BBF;
}

.contacts-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
}

.contacts-list-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: inherit;

    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list-link:hover, .contacts-list-link:focus {
    color: #404BBF;
}
/* #endregion Header */

/* #region Hero */
.hero {
    background-color: #2E2F42;
    background-image: linear-gradient(360deg, rgb(46, 47, 66, 0.7), rgb(46, 47, 66, 0.6)), url(../images/people-office.jpg);
    background-size: cover;
    background-position: center;

    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;

    display: block;
    width: 496px;
    height: 120px;
    margin-bottom: 48px;
    margin-right: auto;
    margin-left: auto;
}

.hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4D5AE5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    margin-right: auto;
    margin-left: auto;

    border-radius: 4px;
    padding: 16px 32px;

    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover, .hero-button:focus {
    background: #404BBF;
}
/* #endregion Hero */

/* #region Features */
.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 24px;
}

.features-list-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;

    width: 264px;
}

.icon {
    display: flex;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    width: 100%;
    height: 112px;
    background: #F4F4FD;
    padding: 20px 99px;
}

.features-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.features-list-content {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: inherit;
}
/* #endregion Features */

/* #region Team */
.team {
    background: #f4f4fd;

    padding-top: 120px;
    padding-bottom: 120px;
}

.team-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 24px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;

    margin-bottom: 72px;
}

.team-list-item {
    background: #fff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border-radius: 0 0 4px 4px;
    width: 264px;
}

.team-list-item-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    padding: 32px 16px;
}

.team-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-list-content {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: inherit;
}

.social-media-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
}

.social-media-list-link {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    padding: 12px;
    fill: #F4F4FD;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-list-link:hover {
    background-color: #404BBF;
}
/* #endregion Team */

/* #region Portfolio */
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;

    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list-item {
    width: 360px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    transition: transform, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover, .portfolio-list-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .portfolio-overlay, .portfolio-list-item:focus .portfolio-overlay {
    transform: translateY(0);
}

.portfolio-overlay-container {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    padding: 40px 32px;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-overlay-content {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.portfolio-list-item-content {
    padding: 32px 16px;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    width: 100%;
}

.portfolio-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-list-content {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: inherit;

    margin-top: 8px;
}
/* #endregion Portfolio */

/* #region Footer */
.page-footer {
    background: #2e2f42;

    padding-top: 100px;
    padding-bottom: 100px;
}

.page-footer-container {
    display: flex;
}
.container.page-footer-container {
    display: flex;
    justify-content: space-between;
}

.page-footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
}

.page-footer-content {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;

    margin-top: 16px;
    width: 264px;
}

.page-footer-social-media-container {
    margin-left: 120px;
}

.page-footer-social-media-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.page-footer-social-media-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
}

.page-footer-social-media-link {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    padding: 8px;
    fill: #F4F4FD;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer-social-media-link:hover, .page-footer-social-media-link:focus {
    background-color: #31D0AA;
}

.page-footer-form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;

    margin-bottom: 16px;
}

.subscribe-form {
    display: flex;
}

.subscribe-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: rgb(255, 255, 255, 0);
    padding: 8px 16px;
    margin-right: 24px;
    color: #fff;

    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input:hover, .subscribe-input:focus, .subscribe-input:active {
    border: 1px solid #31D0AA;    
    outline: none;
}

.subscribe-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

.subscribe-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;

    border-radius: 4px;
    padding: 8px 24px;
    min-width: 169px;
    background: #4D5AE5;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-send {
    fill: #fff;
}

.subscribe-button:hover,
.subscribe-button:focus,
.subscribe-button:active {
    background-color: #31D0AA;
}
/* #endregion Footer */

/* #region Backdrop */
.backdrop {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: relative;
}

.feedback-form {
    border-radius: 4px;
    width: 408px;
    padding-top: 72px;
    padding-bottom: 24px;
    padding-right: 24px;
    padding-left: 24px;
    overflow: auto;

    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #FCFCFC;
}

.feedback-form-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: rgba(252, 252, 252, 0);
    padding: 0px;

    display: block;
    border-radius: 100%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form-close-button-content {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    fill: #2E2F42;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form-close-button:hover,
.feedback-form-close-button:focus {
    background-color: #404BBF;
    border: none;
}

.feedback-form-close-button:hover .feedback-form-close-button-content, .feedback-form-close-button:focus .feedback-form-close-button-content {
    fill: #fff;
}

.feedback-form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;

    margin-bottom: 16px;
}

.feedback-form-field {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;

    border-radius: 4px;
    width: 360px;
}

.feedback-form-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.input-wrapper {
    position: relative;
}

.feedback-form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 40px;

    color: inherit;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    padding: 8px 0px 8px 38px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.feedback-form-input:active, .feedback-form-input:focus {
    border: 1px solid #4D5AE5;
    outline: none;
}

.feedback-form-input-wrapper {
    position: relative;
}

.feedback-form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);

    fill: #2E2F42;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form-input:active~.feedback-form-icon,
.feedback-form-input:focus~.feedback-form-icon {
    fill: #4D5AE5;
}

.feedback-form-comment {
    resize: none;

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 120px;

    color: inherit;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    padding: 8px 16px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.feedback-form-comment::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.feedback-form-comment:active,
.feedback-form-comment:focus {
    border: 1px solid #4D5AE5;
    outline: none;
}

.checkbox-custom-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
    margin-top: 16px;
    margin-bottom: 24px;
}

.checkbox-custom-wrapper {
    position: relative;
}

.checkbox-custom {
    position: relative;
    display: block;
    width: 16px;
    height: 16px;

    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.icon-mark {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + label span.checkbox-custom {
    background-color: #404BBF;
}

.checkbox:checked + label .icon-mark {
    fill: #F4F4FD;
    opacity: 1;
}

.checkbox-custom-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.checkbox-custom-text-accent {
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4D5AE5;
}

.feedback-form-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;

    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4D5AE5;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.feedback-form-button:active, .feedback-form-button:hover, .feedback-form-button:focus {
    background-color: #404BBF;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
/* #endregion Backdrop */
